footer{

    width: 100%;
    height: 30vh;
    background-color: #3a3939;
    color: #fff;
    display: flex;
    
    
    & .container__footer__social_media{
        width: 50%;
        height: 100%;
        margin: 0 0 20px 40px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;


        & .footer__social_media_img{
            width: 250px;
        }
    
        & .footer__social_media{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 250px;
            display: flex;
            justify-content: space-around;

            & li{
                font-size: 2rem;
                display: inline-block;
                transition: scale  ease-in-out 100ms;
                -webkit-transition: scale  ease-in-out 100ms;
                -moz-transition: scale  ease-in-out 100ms;
                -ms-transition: scale  ease-in-out 100ms;
                -o-transition: scale  ease-in-out 100ms;
                &:hover{
                    scale: 1.2;
                }
                & a i{
                    color: #fff;
                    transition: background ease-out 100ms;
                    -webkit-transition: background ease-out 100ms;
                    -moz-transition: background ease-out 100ms;
                    -ms-transition: background ease-out 100ms;
                    -o-transition: background ease-out 100ms;
}

                & .fa-facebook:hover{
                    background: linear-gradient(45deg, #3b5998, #4a63a4, #5b7fbc, #6b9ad3, #7bb6eb, #8ccff6, #9ce7fc, #aceaff, #c0eff9, #d3f6f6);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                & .fa-instagram:hover{
                    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                & .fa-square-x-twitter:hover{
                    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 60%);                    -webkit-background-clip: text;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                & .fa-linkedin:hover{
                    background: linear-gradient(90deg, #219ee2, #0A66C2);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                & .fa-youtube:hover{
                    background: linear-gradient(45deg, #FF0000, #FF0000 40%, #ffffff);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }

    }
    

    & .container__footer__contact{
        width: 50%;
        height: 100%;
        
    }
}