body {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-color: #dadada;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
} 

.main_contratacion__background{
    width: 1400px;
    height: 1400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 100% 0 0;
    -webkit-border-radius: 100% 90% 100% 100%;
    -moz-border-radius: 100% 0 0;
    -ms-border-radius: 100% 0 0;
    -o-border-radius: 100% 0 0;
    left: -20%;
    top: 60%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
}

.main_contratacion__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .main_contratacion__text{
        z-index: 20;
        margin-top: 8em;
        margin-left: -10rem;
        margin-bottom: 20px;
        animation: fade_in 1.5s forwards;
        -webkit-animation: fade_in 1.5s forwards;

        & h1{
            font-size: 2rem;
        }

        & p{
            width: 75%;
        }
    }
}