body {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-color: #dadada;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
} 

.main_contratacion__background{
    width: 1400px;
    height: 1400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 100% 0 0;
    -webkit-border-radius: 100% 90% 100% 100%;
    -moz-border-radius: 100% 0 0;
    -ms-border-radius: 100% 0 0;
    -o-border-radius: 100% 0 0;
    left: -20%;
    top: 60%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
}

.main_contratacion__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .main_contratacion__text{
        z-index: 20;
        margin-bottom: 20px;
        animation: fade_in 1.5s forwards;
        -webkit-animation: fade_in 1.5s forwards;

        & h1{
            font-size: 2rem;
        }

        & p{
            width: 75%;
        }
    }

    & .main_contratacion__options{
        display: flex;
        width: 75%;
        justify-content: space-between;
        gap: 40px;
        animation: appear_options 1s forwards;
        -webkit-animation: appear_options 1s forwards;

        & > .doc_pendiente:hover img  {
            animation: up_down infinite ease-in-out 1.5s;
            -webkit-animation: up_down infinite ease-in-out 1.5s;
        }

        & > .doc_pendiente:hover{
            box-shadow:  0 8px 8px #cccff9;
        }

        & > .doc_aprobada:hover img  {
            animation: up_down infinite ease-in-out 1.5s;
            -webkit-animation: up_down infinite ease-in-out 1.5s;
        }

        & > .doc_aprobada:hover{
            box-shadow:  0 8px 8px #edd394;
        }

        & > .doc_historial:hover img  {
            animation: up_down infinite ease-in-out 1.5s;
            -webkit-animation: up_down infinite ease-in-out 1.5s;
        }

        & > .doc_historial:hover{
            box-shadow:  0 8px 8px #f99485;
        }

        & .contratacion_option{
            background-color: #fff;
            z-index: 20;
            font-family: "Oswald", sans-serif;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            transition: scale ease-in-out 0.2s, background-color 0.2s;
            -webkit-transition: scale ease-in-out 0.2s, background-color 0.2s;
            -moz-transition: scale ease-in-out 0.2s, background-color 0.2s;
            -ms-transition: scale ease-in-out 0.2s, background-color 0.2s;
            -o-transition: scale ease-in-out 0.2s, background-color 0.2s;
            
            
            &:hover{
                scale: 1.1;
            }

            & .contratacion_actions{
                display: flex;
                justify-content: center;
                align-items: center;

                & span{
                    margin-top: 10px;
                    width: 80%;
                    text-align: center;
                }

                & i{
                    margin-top: 10px;
                    text-align: center;
                }

                & .show::after{
                    display: block;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }

                & i::after{
                    display: none;
                    position: absolute;
                    content: "Más información";
                    background-color: #ffffff;
                    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
                    font-family: "Roboto Condensed", sans-serif;
                    font-size: 0.6rem;
                    padding: 8px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
            }
        }
    }

    .footer_logo{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 150px;
        margin: 15px;
    }
}

@keyframes up_down {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes appear_options {
        from {
          opacity: 0;
          transform: translateY(500px);
          -webkit-transform: translateY(500px);
          -moz-transform: translateY(500px);
          -ms-transform: translateY(500px);
          -o-transform: translateY(500px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
    }
}

@keyframes fade_in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}