@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

body {
  background-color: #fff;
  color: var(--dark-color);
  font-family: var(--body-font);
}

h1 {
  font-size: var(--h1-font-size);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main {
  padding: 2rem 0;
}

.main_contratacion__text{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  margin-left: 100px;
  
  
  & h1{
      font-size: 2rem;
  }
}

.bd-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1000px;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.main.min-main{
  margin-left: 180px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0rem 2rem #e5e9ef;
}

.card__img {
  width: 180px;
  height: auto;
  padding: 3rem 0;
  transition: 0.5s;
  mix-blend-mode: darken;
}

.card__name {
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  background-color: var(--dark-color);
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.card__icon {
  font-size: 1.5rem;
  color: var(--dark-color);
}

.card__icon:hover {
  color: var(--accent-color);
}

.card__precis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: 0.5s;
}

.card__preci {
  display: block;
  text-align: center;
}

.card__preci--before {
  font-size: var(--smaller-font-size);
  color: var(--accent-color);
  margin-bottom: 0.25rem;
}

.card__preci--now {
  font-size: var(--h3-font-size);
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem #d1d9e6;
}

.card:hover .card__name {
  left: 0;
}

.card:hover .card__img {
  transform: translateY(-20px);
}

.card:hover .card__precis {
  transform: translateY(-20px);
  }