/*===Fuente principal===*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300..800&display=swap');

/*===========Formateo del CSS===========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===========Variables===========*/

:root{
    
}
