/*===Fuente principal===*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/hamburgers/dist/hamburgers.css";


/*===========Formateo del CSS===========*/

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Oswald", sans-serif;
}

ul, ol{
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.tooltip_container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  z-index: 100;

  & .tooltip_text {
    visibility: hidden;
    padding: 10px;
    max-width: 100px;
    min-width: 100px;
    background-color: #ffffffe0;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  &:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
  }
}


