/*===Fuente principal===*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/hamburgers/dist/hamburgers.css";


/*===========Formateo del CSS===========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Oswald", sans-serif;
}

ul, ol{
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===========Variables===========*/


