:root{
    --main-color: #6c5ce7;
    --secondary-color: #a29bfe;
    --lighter-color: #e0e0e7;
    --light-color: #b0b0c0;
    --dark-color: #52505e;

    --font-smaller: 14px;
    --font-bigger: 20px;
}

html{
    scroll-behavior: smooth;
}

.container{

    display: none;
    width: 1200px;   
    margin: 0;
    padding: 0 2em;
    z-index: 2;

    & .form-box{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        & .progress{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & .logo{
                font-size: 1.4em;
                font-weight: 800;
                color: var(--dark-color);
                padding: 0px 20px;
                text-align: center;
                

                & span{
                    color: var(--main-color);
                }
            }
    
            & ul.progress-steps{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5em;

                & li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;

                    & > span{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        font-size: var(--font-smaller);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 1em;
                        border-radius: 50%;
                        background-color: var(--lighter-color);
                        z-index: 1;
                        transition: .2s;
                        -webkit-transition: .2s;
                        -moz-transition: .2s;
                        -ms-transition: .2s;
                        -o-transition: .2s;
                        
                        &:hover{
                            background-color: var(--main-color);
                            cursor: pointer;
                            color: #fff;
                        }
                    }

                    &.active > span{
                        color: white;
                        background-color: var(--main-color);
                        border: 4px solid var(--secondary-color);
                        z-index: 1;
                    }

                    & p span{
                        font-size: var(--font-smaller);
                        color: var(--light-color);
                        display: none;
                    }
                }
            }

            & ul li p{
                position: absolute;
                left: 50px;
                font-size: 12px;
                width: 90px;
            }
        }

        form{
            width: 100%;
            background-color: white;

            & > div{
                display: flex;
                flex-wrap: wrap;
                text-align: left;
                column-gap: 15px;
                
                & .header_form{
                    width: 100%;

                    & p{
                        color: var(--dark-color);
                        margin-bottom: .5em;
                    }
                }

                & div:not(.checkbox, .svg-wrapper, .upload_file_container){
                    display: flex;
                    flex-direction: column;
                    margin-bottom: .7em;
                }

                & input[type=file]{
                    display: none;
                }

                & .upload_file_container{

                    display: flex;
                    width: 100%;

                    & .file_name{
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                        width: 80%;
                        height: 100%;
                        cursor: pointer;
                        background-color: #dfdfdf;
                        border-radius: 10px 0 0 10px;
                        -webkit-border-radius: 10px 0 0 10px;
                        -moz-border-radius: 10px 0 0 10px;
                        -ms-border-radius: 10px 0 0 10px;
                        -o-border-radius: 10px 0 0 10px;

                        & span{
                            max-width: 270px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    
                    & .file_upload{
                        width: 20%;
                        height: 100%;
                        font-size: 12px;
                        background: var(--main-color);
                        color: #fff;
                        padding: 0.5em .8em;
                        padding-left: 0.9em;
                        display: flex;
                        align-items: center;
                        border: none;
                        overflow: hidden;
                        transition: all 0.2s;
                        cursor: pointer;
                        border-radius: 0 10px 10px 0;
                        -webkit-border-radius: 0 10px 10px 0;
                        -moz-border-radius: 0 10px 10px 0;
                        -ms-border-radius: 0 10px 10px 0;
                        -o-border-radius: 0 10px 10px 0;
                        
                        & span{
                          margin-left: 5px;
                          transition: all 0.3s ease-in-out;
                          -webkit-transition: all 0.3s ease-in-out;
                          -moz-transition: all 0.3s ease-in-out;
                          -ms-transition: all 0.3s ease-in-out;
                          -o-transition: all 0.3s ease-in-out;
                        }
      
                        & i{
                          transform-origin: center center;
                          transition: transform 0.3s ease-in-out;
                        }
      
                        &:hover .svg-wrapper {
                          animation: fly-1 0.6s ease-in-out infinite alternate;
                          -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
                        }
      
                        &:hover i {
                          transform: translateX(1.9em) scale(1.5);
                          -webkit-transform: translateX(1.9em) scale(1.5);
                          -moz-transform: translateX(1.9em) scale(1.5);
                          -ms-transform: translateX(1.9em) scale(1.5);
                          -o-transform: translateX(1.9em) scale(1.5);
}
      
                        &:hover span {
                          transform: translateX(5em);
                          -webkit-transform: translateX(5em);
                          -moz-transform: translateX(5em);
                          -ms-transform: translateX(5em);
                          -o-transform: translateX(5em);
                        }
      
                        &:active {
                          transform: scale(0.95);
                          -webkit-transform: scale(0.95);
                          -moz-transform: scale(0.95);
                          -ms-transform: scale(0.95);
                          -o-transform: scale(0.95);
                        }
                      }
                }
                
            }

            & .form-one{
                & div:not(.header_form, .upload_file_container){
                    width: calc(50% - 1em);
                }

                & input[type=number]::-webkit-inner-spin-button, 
                        input[type=number]::-webkit-outer-spin-button { 
                            -webkit-appearance: none; 
                            margin: 0; 
                        }

                & div:last-child{
                    width: 97.2%;
                }

                & .password_instructions{
                    color: var(--dark-color);
                    cursor: pointer;
                    transition: .2s;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;

                    &:hover{
                        color: #a29bfe;
                    }

                    &::after{
                        z-index: 100;
                        content: 'Mínimo 8 carácteres, mayúscula inicial y al menos un número';
                        width: 200px;
                        position: absolute;
                        color: #000000;
                        display: none;
                        background-color: #e9e9e9;
                        padding: 10px;
                        padding-left: 30px;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
                        top: 5%;
                        right: 20%;
                        transform: translate(13%, 6%);
                        -webkit-transform: translate(13%, 6%);
                        -moz-transform: translate(13%, 6%);
                        -ms-transform: translate(13%, 6%);
                        -o-transform: translate(13%, 6%);
                        clip-path: polygon(100% 0, 100% 100%, 5% 100%, 5% 16%, 0 0);
                    }

                    &:hover::after{
                        display: block;
                    }
                }

                & .password_register{

                    & div{
                        display: flex;
                        position: relative;
                        width: 100%;
                        
                        & input{
                            width: 100%;
                        }
                    }

                    & .show-hide_password{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        cursor: pointer;
                        user-select: none;
                        right: 20px;
                        top: 50%;
                        transform: translate(50%);
                        -webkit-transform: translateY(50%);
                        -moz-transform: translateY(50%);
                        -ms-transform: translateY(50%);
                        -o-transform: translateY(50%);

                        & i{
                            font-size: 17px;
                            color: #3a393996;
                        }
    
                        & .fa-eye {
                            position: absolute;
                            display: block;
                            animation: keyframes-fill .5s;
                            -webkit-animation: keyframes-fill .5s;
                        }
    
                        & .fa-eye-slash {
                            position: absolute;
                            animation: keyframes-fill .5s;
                            display: none;
                            -webkit-animation: keyframes-fill .5s;
                        }
                        
                        & input:checked ~ .fa-eye {
                            display: none;
                          }
    
                        & input:checked ~ .fa-eye-slash {
                            display: block;
                          }
                        
                        & input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }
                    }
                }

                
            }

            & .form-two{
                & div:not(.header_form, .upload_file_container, :last-child){
                    width: calc(50% - 1em);
                }

                & .libreta_militar{

                    & span{
                        font-size: .8rem;
                    }
                }

                & .tarjeta_profesional{

                    & span{
                        font-size: .8rem;
                    }
                }

                & .avalsst{
                    width: calc(100% - 1em);

                    .upload_file_container{
                        & .file_name{
                            width: 90%;
                        }

                        & .file_upload{
                            width: 10%;
                        }

                    }
                }
            }

            & .form-three{
                & div:not(.header_form, .upload_file_container){
                    width: calc(50% - 1em);
                }

                & .birth{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    & .grouping{
                        display: flex;
                        flex-direction: row;
        
                        & input{
                            width: 50px;
                            text-align: center;
                            margin-right: 3px;
                            font-size: .71rem;
                        }
                    }
                }
            }

            & .form-four{
                & div:not(.header_form, .upload_file_container, :last-child){
                    width: calc(50% - 1em);
                }

                & .checkbox{
                    width: calc(100% - 1em);
                }

                & .ultima_eps{

                    & span{
                        font-size: .8rem;
                    }
                }
            }

            & :where(input,select){
                height: 30px;
                padding: 0 1em;
                border-radius: 7px;
                outline-color: var(--secondary-color);
                border: 1px solid var(--lighter-color);
                background-color: transparent;
            }

            & label{
                font-size: var(--font-smaller);
                margin-bottom: 0.5em;
                font-weight: 600;
                position: relative;
            }

            & .checkbox {

                & input[type="checkbox"]{
                    height: auto;

                    &:checked ~ label{
                        color: #a1a1a1;
                        text-decoration: underline;
                    }
                }

                & label{
                    font-weight: normal;
                    margin-bottom: 0.5em;

                    & span{
                        font-weight: bold;
                    }
                }
            }
            
            & > div:not(.btn-group){
                display: none;
                -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
                animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            }

            & > div.active{
                display: block;
            }

            & .form-step.active.active {
                display: flex;
            }

            & .btn-group{
                display: flex;
                gap: 1em;
                margin-top: 1em;
                justify-content: end;
                align-items: center;
                margin-right: 25px;
                
                & .btn-submit{
                    display: none;
                    background-color: var(--main-color);

                    &:hover{
                        box-shadow: 0 0 0 5px var(--secondary-color);
                    }
                }
    
                & .btn-back{
                    background-color: #d1a664;
                    
                    &:hover{
                        box-shadow: 0 0 0 5px #daa04a5e;
                    }
                }

                & .btn-next{
                    background-color: var(--main-color);

                    &:hover{
                        box-shadow: 0 0 0 5px var(--secondary-color);
                    }
                }

                & .btn-prev{
                    background-color: #d16473;

                    &:hover{
                        box-shadow: 0 0 0 5px #d164737a;
                    }
                }
            }
            
            & .btn-group [class*="btn-"]{
                color: white;
                padding: .8em 2em;
                cursor: pointer;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                border: none;
                font-weight: bold;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
                
                &:hover{
                    scale: .95;
                }
                
                &:disabled{
                    background-color: var(--light-color);                    
                    cursor: not-allowed;

                    &:hover{
                        box-shadow: 0 0 0 5px var(--lighter-color);
                    }
                }

                & .btn-group [class*="btn-"]:hover:not(:disabled){
                    background-color: var(--dark-color);
                    border-color: var(--light-color);
                }

                & .form-three.active ~ .btn-group{
                    justify-content: space-between;
                }

            }

            & ::placeholder{
                color: var(--light-color);
            }
        }
    }
}

input.error, select.error {
    border-color: red;
}

.error-message {
    color: red;
    display: none; /* Ocultar por defecto */
    font-size: .7rem;
}


/** ===Animations=== **/

@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-animation: translateY(10%);
        transform: translateY(10%);
    }    
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
      -webkit-transform: translateY(0.1em);
      -moz-transform: translateY(0.1em);
      -ms-transform: translateY(0.1em);
      -o-transform: translateY(0.1em);
      }
  
    to {
      transform: translateY(-0.1em);
      -webkit-transform: translateY(-0.1em);
      -moz-transform: translateY(-0.1em);
      -ms-transform: translateY(-0.1em);
      -o-transform: translateY(-0.1em);
      }
  }

@media screen and (min-width: 768px){
    .form-box{
        flex-direction: row;
    }

    .form-box .progress{
        flex: 1 0 25%;
        padding: 3em;
    }

    .logo{
        margin: -48px -48px 48px;
    }

    .progress ul.progress-steps{
        flex-direction: column;
        gap: 0;
    }

    .progress ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left: 19px;
        top: 30px;
        width: 3px;
        height: 65px;
        background-color: var(--lighter-color);
    }

    .form-box form{
        padding: 2em;
        border-radius: 0 15px 15px 0;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        -ms-border-radius: 0 15px 15px 0;
        -o-border-radius: 0 15px 15px 0;
    }

    .progress ul li p{
        top: auto;
        font-size: inherit;
    }

    .progress ul.progress-steps li p span{
        display: block;
    }
}