footer{

    width: 100%;
    height: 30vh;
    background-color: #3a3939;
    color: #fff;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    
    & .container__footer__about{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        gap: 10px;

        & .figure{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 2%;
            justify-content: center;

            & .big_rectangle{
                background-color: #daa700;
                height: 80px;
            }

            & .small_rectangle{
                background-color: #fff;
                height: 25px;
            }
        }

        & .info{
            display: flex;
            flex-direction: column;
            width: 98%;

            & .container__footer__about_list{
                display: flex;
                gap: 15px;
                width: 100%;
                border-bottom: 1px solid #ffffff;

                & .selected{
                    border-bottom: #daa700 solid 3px;
                }
    
                & li{
                    font-weight: 700;
                    cursor: pointer;
                    transition: ease-in-out 200ms;
                    -webkit-transition: ease-in-out 200ms;
                    -moz-transition: ease-in-out 200ms;
                    -ms-transition: ease-in-out 200ms;
                    -o-transition: ease-in-out 200ms;
                    
                    &:hover {
                        scale: 1.1;
                    }
                }
            }
    
            & .container__footer__us_info, .container__footer__devs_info{
                width: 100%;
                max-width: 280px;
                font-size: .75rem;
                font-weight: 300;
                margin: 7px 0 0 0;
                line-height: 1.3;
                transition: opacity 0.5s ease-out;
                -webkit-transition: opacity 0.5s ease-out;
                -moz-transition: opacity 0.5s ease-out;
                -ms-transition: opacity 0.5s ease-out;
                -o-transition: opacity 0.5s ease-out;
            }
    
            & .container__footer__devs_info{
                opacity: 0;
                display: none;

                & span{
                    font-weight: bold;
                }
            }
        }
    }

    & .container__footer__contact{
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;

        & div{
            & span{
                font-weight: 700;
                border-bottom: 1px solid #ffffff;
            }

            & ul {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & li{

                    max-width: 110px;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    white-space: normal; 

                    & a{
                        font-size: .8rem;
                        color: #b3b3b3;
                        transition: ease-out .2s;
                        -webkit-transition: ease-out .2s;
                        -moz-transition: ease-out .2s;
                        -ms-transition: ease-out .2s;
                        -o-transition: ease-out .2s;
                    }
                }
            }
        } 

        & .footer_contact__emails{
            grid-area: 1 / 1 / 2 / 2;
            text-align: left;
            
            & ul{
                & li a:hover{
                        color: #40b9ff;
                }
            }

        }

        & a{
            place-self: center;

            & .logotipo_unal{
                cursor: pointer;
                grid-area: 1 / 2 / 2 / 3;
                justify-self: center;
                width: 100px;
                place-self: center;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
            
                &:hover{
                    scale: 1.05;
                }
            }
        }

        & .footer_contact__links{
            text-align: right;
            grid-area: 1 / 3 / 2 / 4;
            box-sizing: border-box;
            justify-self: end;

            & ul{

                display: flex;
                flex-direction: column;
                align-items: flex-end;
                
                & li{
                    text-align: right;
                    
                    & a{
                        box-sizing: border-box;
                        width: 100%;
                        text-align: right;
                        &:hover{
                            color: #daa700;
                        }
                    }
                }
            }
        }
    }

    & .container__footer__social_media{
        grid-area: 1 / 3 / 2 / 4;
        margin: 0 0 20px 40px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;


        & .footer__social_media_img{
            width: 250px;
        }
    
        & .footer__social_media{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 250px;
            display: flex;
            justify-content: space-around;

            & li{
                font-size: 2rem;
                display: inline-block;
                
                & a i{
                    &:hover{
                        scale: 1.2;
                    }

                    color: #fff;
                    font-size: 2.5rem;
                    transition-duration: 100ms;
                    transition-property: background, scale;
                }

                & .fa-square-facebook:hover{
                    background: linear-gradient(45deg, #24458d, #3152a5, #2258b6, #1263c7, #0281f0, #0196ec, #0294bd, #1a92b9, #2f9db6, #d3f6f6);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    filter: drop-shadow(0 0 5px #2258b6);
                    -webkit-filter: drop-shadow(0 0 5px #2258b6);
                }

                & .fa-instagram:hover{
                    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    filter: drop-shadow(0 0 5px #5c183e);
                    -webkit-filter: drop-shadow(0 0 5px #a73c79);
                }

                & .fa-square-x-twitter:hover{
                    background: linear-gradient(to right, #4c5052, #FFFFFF);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    filter: drop-shadow(0 0 5px #a0a0a063);
                    -webkit-filter: drop-shadow(0 0 5px #a0a0a063);
                    }

                & .fa-linkedin:hover{
                    background: linear-gradient(90deg, #219ee2, #0A66C2);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    filter: drop-shadow(0 0 5px #0A66C2);
                    -webkit-filter: drop-shadow(0 0 5px #0A66C2);
                }

                & .fa-youtube:hover{
                    background: linear-gradient(45deg, #FF0000, #FF0000 40%, #ffffff);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    filter: drop-shadow(0 0 2px #FF0000);
                    -webkit-filter: drop-shadow(0 0 2px #FF0000);
                }
            }
        }

    }

    & .copyright{
        grid-area: 2 / 1 / 3 / 4;
    }
}

